.menu
{
    -fx-base: #ffffff;
    -fx-font: 13 arial;
    -fx-text-fill:Black;
}

.menu:hover
{
    -fx-base: #cccccc;
    -fx-text-fill: Black;
}

.button
{
    -fx-base: #eeeeee;
    -fx-font: 14 arial;
    -fx-text-fill: Black;
}

 .button:hover
 {
     -fx-base: #cccccc;
  }

.kpane
{
    -fx-background-color: #dddddd;
}

.kversionpane
{
    -fx-background-color: #bbbbbb;
}